<div style="display: flex; flex-direction: column; height: 100%; border-bottom: 1px solid rgba(229, 229, 229, 1);">
    <div style="display: flex; align-items: center; padding: 13px 16px; border-bottom: 1px solid rgba(229, 229, 229, 1);">
        <h4 style="margin: 0; white-space: nowrap;">Quantitative Statistics</h4>
    </div>
    <div style="margin-bottom: 3px">
        <div id="table_node_info" style="font-size: 14px;">
            <div style="height: 28px; line-height: 28px; border-bottom: 1px solid rgba(229, 229, 229, 1); padding: 0 16px; color: rgba(42, 130, 228, 1); display: flex; justify-content: space-between; align-items: center;">
                <span>Queries:</span>
                <span id="query_num">0</span>
            </div>
            <div style="height: 28px; line-height: 28px; border-bottom: 1px solid rgba(229, 229, 229, 1); padding: 0 16px; color: rgba(42, 130, 228, 1); display: flex; justify-content: space-between; align-items: center;">
                <span>QueryType:</span>
                <span id="query_type_num">0</span>
            </div>
            <div style="height: 28px; line-height: 28px; border-bottom: 1px solid rgba(229, 229, 229, 1); padding: 0 16px; color: rgba(212, 48, 48, 1); display: flex; justify-content: space-between; align-items: center;">
                <span>Bugs:</span>
                <span id="bug_num"></span>
            </div>
        </div>
    </div>
    <hr style="margin-bottom: 2px">

    <div class="panel panel-default" style="margin-bottom: 0; border: none;">
        <div class="panel-body" style="height: 100%; padding: 0 16px">
            <div id="pie_func_type" style="width: 100%; height: 100%"></div>
        </div>
    </div>
</div>

